<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-xl-12">
   <div class="top-couteiner">
    <div class="jumbotron">
      <div class="container">
        <div class="JIRODO"><h1>JIRODO</h1></div>
        <p>
         <font size="4">
           〜すべてのジロリアンに送る〜<br>
           ラーメン二郎専門情報アプリ
         </font>
        </p>
        <font size="6"><h2 class="btn btn-info fa fa-search"><a href="/jiros">お店を検索！</a></h2></font>
      </div>
    </div>
   </div>
  </div>
</section>
<div class="landing-section gray-color">
  <div class="container">
    <h1>JIRODOの機能</h1><br><br><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-search text-warning sr-icons"></i>
          <h2>検索</h2>
          <p class="text-muted">ラーメン二郎全店舗を検索できます。<br>各店舗の特徴を把握しておこう！</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-heart text-warning sr-icons"></i>
          <h2>マイ二郎</h2>
          <p class="text-muted">お気に入りの店舗にいいね！ができます。<br>マイ二郎にした店舗は一覧で表示できます！</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="landing-description">
          <i class="fa fa-4x fa-commenting-o text-warning sr-icons"></i>
          <h2>レビュー</h2>
          <p class="text-muted">お店にレビューができます。<br>ジロリアンみんなで情報を共有していこう！</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="about">
  <h1>
    <p>早速、あなたのアカウントも作ってみませんか！</p><br>
    <p>JIRODOで楽しい二郎ライフを！</p>
    <font size="6"><h2 class="btn btn-info fa fa-sign-in"><a href="/users/sign_up">新規登録（無料）</a></h2></font>
  </h1>
</section>
