header {
  width: 100%;
  background-color: #FFFF00;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.jumbotron{
  height: 10%;
  background: rgba(255,255,255,0.5);
}

.main-header {
  padding-bottom: 40%;
  width: 100%;
  background-size: cover;
  background-image: url("jiro1.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.landing-section{
  max-width: 1200px;
  margin: 70px auto 0;
 }



footer {
  width: 100%;
  background-color:#FFFF00;
  padding: 20px 0 10px 0;
  color: black;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  padding-bottom: 60px;
}

.flash {
  color: white;
  padding-top: 10px;
}
